<div class="bg-secondary p-4">
    <h3>Sign Up</h3>

    <app-message-box [message]="msg" type="INFO"></app-message-box>
    <app-message-box [message]="errMsg" type="ERROR"></app-message-box>

    <form [formGroup]="regForm" class="form" (ngSubmit)="register()">
        <div class="form-group">
            <label>Full Name</label>
            <input type="text" formControlName="fullName" required class="form-control" />
        </div>
        <div class="form-group">
            <label>Email Id</label>
            <input type="email" formControlName="email" class="form-control" />
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" formControlName="password" class="form-control" />
        </div>
        <button class="btn btn-primary btn-block" [disabled]="regForm.invalid">Sign Up</button>
    </form>
</div>