<div class="col-sm-8 mx-auto">
    <h3>New User</h3>

    <form class="form" #f="ngForm" (ngSubmit)="addUser()">
        <div class="form-group">
            <label>User Id</label>
            <input type="number" name="uid" class="form-control" [(ngModel)]="user.id" required #uid="ngModel" />
            <div class="alert bg-danger text-info" *ngIf="uid.invalid && (uid.touched || uid.dirty)">
                <strong *ngIf="uid.errors?.required">User Id is a manditory field</strong>
            </div>
        </div>
        <div class="form-group">
            <label>Full Name</label>
            <input type="text" name="unm" class="form-control" [(ngModel)]="user.fullName" required minlength="5"
                maxlength="45" #unm="ngModel" />
            <div class="alert bg-danger text-info" *ngIf="unm.invalid && (unm.touched || unm.dirty)">
                <strong *ngIf="unm.errors?.required">Full Name is a manditory field</strong>
                <strong *ngIf="unm.errors?.minlength">Full Name is expected to be atleast 5 chars in length</strong>
                <strong *ngIf="unm.errors?.maxlength">Full Name is expected to be atmost 45 chars in length</strong>
            </div>
        </div>
        <div class="form-group">
            <label>Email Id</label>
            <input type="email" name="eid" class="form-control" 
            #eid="ngModel" [(ngModel)]="user.emailId" required />
            <div class="alert bg-danger text-info" *ngIf="eid.invalid && (eid.touched || eid.dirty)">
                <strong *ngIf="eid.errors?.required">Email Id is a manditory field</strong>
                <strong *ngIf="eid.errors?.email">A valid emial id expected</strong>
            </div>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" name="pwd" #pwd="ngModel"
            class="form-control" [(ngModel)]="user.password" required minlength="4" />
            <div class="alert bg-danger text-info" *ngIf="pwd.invalid && (pwd.touched || pwd.dirty)">
                <strong *ngIf="pwd.errors?.required">Password is a manditory field</strong>
                <strong *ngIf="pwd.errors?.minlength">Password is expected to be atleast 4 chars in length</strong>
            </div>
        </div>
        <button class="btn btn-block btn-primary" [disabled]="f.invalid">SAVE</button>
    </form>
</div>